body{
    background-color: var(--background-color-1);
}

/* header */
.header{
    height: var(--header-height);
    background-color: var(--background-color-2);
    box-shadow: 0 2px 1px rgb(0 0 0 / 12%);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}
.header_main{
    display: flex;
    height: 100%;
}
.header_left{
    display: flex;
    height: var(--header-height);
    margin-top: 8px;
}
.header_left_logo{
    margin-right: 12px;
}
.header_left_logo img{
   width: 40px;
   height: 40px;
}
.header_left_search{
    display: flex;
    align-items: center;
    width: 240px;
    height: 40px;
    background-color: var(--background-color-1);
    padding: 0 12px;
    border-radius: 20px;
}
.header_left_search i{
    font-size: 1.6rem;
    color: var(--color-3);
    margin-right: 8px;
}
.header_left_search input{
    background-color: var(--background-color-1);
    outline: none;
    border: none;
    font-size: 1.6rem;
}

.header_between{
    padding: 0 60px;
    height: var(--header-height);
}
.header_between_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}
.header_between_item{
    position: relative;
}
.header_between_item:hover{
    background-color: var(--background-color-1);
    border-radius: 8px;
}
.header_notes_home:hover .header_between_item_notes-home{
    display: block;
}
.header_notes_watch:hover .header_between_item_notes-watch{
    display: block;
}
.header_notes_market:hover .header_between_item_notes-market{
    display: block;
}
.header_notes_group:hover .header_between_item_notes-group{
    display: block;
}
.header_notes_play:hover .header_between_item_notes-play{
    display: block;
}
.header_between_item_notes-home,.header_between_item_notes-watch,.header_between_item_notes-market,.header_between_item_notes-group,.header_between_item_notes-play{
    position: absolute;
    bottom: -40px;
    left: 10px;
    background-color: rgba(0, 0, 0, 70%);
    padding: 6px 12px;
    border-radius: 8px;
    display: none;
}
.header_between_item_notes-watch{
    left: 20px;
}
.header_between_item_notes-market{
    left:0px;
}
.header_between_item_notes-group{
    left:20px;
}
.header_between_item_notes-play{
    left:20px;
}
.header_between_item_notes-home span,.header_between_item_notes-watch span,.header_between_item_notes-market
span,.header_between_item_notes-group span,.header_between_item_notes-play span{
    font-size: 1.4rem;
    color: var(--text-color-5);
}
.header_between_link{
    color: var(--color-3);
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 40px;

}
.header_between_link:hover{
    color: var(--color-3);
}
.header_between_link i{
    font-size: 2.2rem;
}
.header_between_item-active .header_between_link i{
    color: var(--color-1);
}
.header_between_item-active{
    border-bottom: 3.5px solid var(--color-1);
}
.number_notify_tab{
    position: absolute;
    top: 5px;
    right: 30px;
    display: block;
    border-radius: 8px;
    padding: 0.5px 6px;
    background-color: var(--color-2);
}
.number_notify_tab span{
    color: var(--background-color-2);
    font-weight: 600;
    font-size: 1.2rem;
}
.header_right{
    padding-left: 30px;
    height: var(--header-height);
    margin-top: 6px;
}
.header_right_list{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 4px;
    justify-content: space-between;
}
.header_righ-link_personal{
    margin-right: 12px;
    display: flex;
    align-items: center;
}
.header_right_item_personal{
    padding: 3px;
    
}
.header_right_item_personal:hover{
    background-color: var(--background-color-1);
    border-radius: 18px;
    padding: 3px;
}
.header_righ-link_personal img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 4px;
}
.header_righ-link_personal span{
    font-size: 1.4rem;
    color: var(--text-color-1);
    font-weight: 600;
}
.header_right_item {
    width: 40px;
    display: block;
    height: 40px;
    position: relative;
    border-radius: 50%;
    background-color: var(--background-color-1);
    text-align: center;
    margin: auto;
    cursor: pointer;
}
.header_right_item:hover{
    background-color: var(--color-7);
}
.header_right_item i{
    font-size: 1.8rem;
    margin-top: 12px;
}
.header_right_link-notify,.header_right_item i{
    text-decoration: none;
    color: var(--color-5);
}
.header_right_accout i{
    margin-top: 8px;
}
.header_right_item_number_notify{
    position: absolute;
    top: -5px;
    right: 0;
    background-color: var(--color-2);
    display: block;
    border-radius: 50%;
    padding: 0px 6px;
}
.header_right_item_number_notify span{
    color: var(--text-color-5);
    font-size: 1.2rem;
}

/* content */
/* content_left */
.content{
    margin-top: 55px;
}
.content_left{
    padding-top: 20px;
    position: relative;
}
.content_left-top{
    border-bottom: 2px solid var(--color-7);
}
.content_left-top-link img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
.content_left-top-list{
    padding: 0;
    list-style: none;
}
.content_left-top-show{
    margin-left: -6px;
}
.content_left-top-link{
    display: flex;
    align-items: center;
    padding: 6px 8px;
}
.content_left-top-link i{
    font-size: 2.4rem;
    margin-right: 18px;
}
.content_left-top-link span,.content_left-top-link-name span{
    font-size: 1.4rem;
    color: var(--text-color-1);
    font-weight: 600;
}
.content_left-top-link-name p{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.content_left-top-link-name p span{
    width: 6px;
    margin-right: 4px;
    margin-top: 4px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color-1);
}
.content_left-top-link:hover{
    background-color:var(--color-7) ;
    border-radius: 8px;
    text-decoration: none;
    color: var(--color-1);
}
.content_left-top-link .border_icon{
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--color-7);
}

.content_left-bottom{
    margin-top: 12px;
}
.content_left-bottom_header{
    padding: 0 8px;
    position: relative;
    display: block;
    align-items: center;
    justify-content: space-between;
}
.content_left-bottom_header h3{
    color: var(--text-color-2);
}

.content_left-bottom_header_edit{
    font-size: 1.4rem;
    cursor: pointer;
    padding: 8px;
    position: absolute;
    right: 0;
    font-weight: 500;
    top: -10px;
    color: var(--text-color-7);
    display: none;
}
.content_left-bottom_header_edit:hover{
    padding: 8px;
    background-color: var(--color-7);
    border-radius: 4px;
}
.content_left-bottom:hover .content_left-bottom_header_edit{
    display: block;
}

.content_left-bottom_list{
    list-style: none;
    padding: 0;
    margin-top: 12px;
}
.content_left-bottom_link img{
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin-right: 12px;
}
.content_left-bottom_link h3{
    font-size: 1.4rem;
    color: var(--text-color-1);
}
.content_left-bottom_link{
    display: flex;
    align-items: center;
    padding: 6px 8px;
}
.content_left-bottom_link:hover{
    background-color: var(--color-7);
    border-radius: 8px;
}

.content_left-footer-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 8px;
}
.content_left-footer-item{
    margin-right: 16px;
}
.content_left-footer-link{
    color: var(--color-3);
    font-size: 1.2rem;
    font-weight: 600;
}
.content_left-footer-link:hover{
    color: var(--color-3);
    text-decoration: underline;
}

/* scroolbar */
.scrollbar {
    height: 90vh;
    overflow-y: scroll;
}

#style-1::-webkit-scrollbar {
    width: 7px;
} 
#style-1::-webkit-scrollbar-thumb {
    background-color: #bbb9b9;
    border-radius: 4px;

}

/* story */
.content_story{
    margin-top: 26px;
}
.content_story_list{
    display: flex;
    padding: 0;
    width: 84%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
}
.content_story_item{
    width: 112px;
    height: 200px;
}
.content_story_link{
    width: 100%;
    text-decoration: none;
    height: 100%;
    display: block;
    background-color: var(--background-color-2);
    border-radius: 12px;
    position: relative;
    box-shadow: 0 2px 1px rgb(0 0 0 / 12%);

}
.overflow, .overflow-img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 15%);
    z-index: 2;
    border-radius: 12px;
    top: 0;
}
.overflow-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 18%);
    z-index: 4;
    border-radius: 12px;
    top: 0;
    display: none;
}
.content_story_link:hover .overflow-hover{
    display: block;
}
.overflow-img{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.content_story_link_box-img{
    width: 112px;
    height: 150px;
    position: relative;

}
.content_story_link-img-add{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.content_story_link-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.content_story_avata{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid var(--color-1);
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
}

.content_story_link_button-add{
    position: absolute;
    left: 35%;
    top: 133px;
    z-index: 2;
    background-color: var(--background-color-2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.content_story_link_button-add i{
    font-size: 1.8rem;
    color: var(--color-6);
    background-color: var(--color-1);
    border-radius: 50%;
    padding: 8px;
    margin: 4px 0 0 4px;
}
.content_story_link_title{
    position: absolute;
    bottom: 8px;
    left: 35%;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color-1);
}
.content_story-name{
    position: absolute;
    font-size: 1.2rem;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 3;
    padding: 2px;

}
.content_story-name h4{
    font-size: 1.2rem;
    text-align: center;
    color: var(--text-color-8);
    font-weight: 600;
}
.content_story-next{
    position: absolute;
    right: -20px;
    top: 40%;
    z-index: 5;
    width: 40px;
    height: 40px;
    background-color: var(--background-color-2);
    border-radius: 50%;
    box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 12%);

}
.content_story-next i{
    display: block;
    margin: auto;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 12px;
    color: var(--color-3);
}
.content_story-next:hover{
    background-color: var(--color-7);
}